body {
    font-family: 'Chelsea Market', Georgia, serif;
}

#teamintroduction {
    background: url(image/bg.jpg) no-repeat 100% 100%;
}

#zhangjianwei {
    background-color: #348FD4;
}

#dingjunjie {
    background-color: #06406C;
}

#jiangxiaoyu {
    background-color: #fff;
}

#jiangxiaoyu .info {
    color: #000;
}

#fengmin {
    background-color: rgb(76, 13, 9);
}

#wangshiqi {
    background-color: rgb(204, 64, 55);
}

.info {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.info .photo {
    display: block;
    position: relative;
    top: -30px;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

h1 {
    margin: 10px 10px 0;
    font-weight: normal;
    font-size: 50px;
}

p {
    margin: 10px 10px 0;
}
